
/* General Styling */

body {
    background-image: url("https://www.commercialwalldecor.com/Images/product/poplin-light-grey-woven-texture-zypk-l.jpg");
    margin-bottom: 70px;
}

h2 {
    font-family: Bodoni serif;
    font-weight: bold;
}

p {
    font-family: "Avenir";
}

.container {
    padding-top: 20px;
}

img {
    width: 100%;
    margin-right: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

/* Navbar */

.navbar-brand {
    font-family: Avenir, sans-serif;
  }

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17a2b8;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* About Page */

.about {
    width: 75%;
    display: inline-block;
    margin-left: 0px;
    background-color: gainsboro;
    padding: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.float-left {
    width: 300px;
    margin-right: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Portfolio Page */

.portfolio {
    width: 75%;
    display: inline-block;
    background-color: gainsboro;
    padding: 20px;
    border: solid grey 2px;
}

.row {
    margin: 20px;
}

.col-md-6 {
    margin-bottom: 20px;
}

.modified-row img {
    margin-top: 20px;
    display: inline-block;
    margin-right: 0;
}

.text {
    position: relative;
    background-color: #17a2b8;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Avenir sans-serif;
    color: white;
    margin-top: -70px;
    z-index: 100;
  }
/* Contact Page */

.contact {
    width: 75%;
    display: inline-block;
    margin-left: 0px;
    background-color: gainsboro;
    padding: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

